.app {
  text-align: center;
  background-image: linear-gradient(to bottom, white, #becad2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-container {
  width: 35vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #708090;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #505b67;
}